In [1]:
# Importing of pandas

In [2]:
import pandas as pd

In [3]:
# extract tables from websites

In [4]:
simpsons = pd.read_html("https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)")
# here we have an array cuz there are multiple tables is this page

In [5]:
len(simpsons) # here we got to know there are total of 24 tables on this website

24

In [6]:
simpsons[1] # and here is the first table

,No. overall,No. in season,Title,Directed by,Written by,Original air date,Prod. code,U.S. viewers (millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989[47]",7G08,26.7[48]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990[49]",7G02,24.5[48]
2,3,3,"""Homer's Odyssey""",Wes Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990[50]",7G03,27.5[51]
3,4,4,"""There's No Disgrace Like Home""",Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,"January 28, 1990[52]",7G04,20.2[53]
4,5,5,"""Bart the General""",David Silverman,John Swartzwelder,"February 4, 1990[54]",7G05,27.1[55]
5,6,6,"""Moaning Lisa""",Wes Archer,Al Jean & Mike Reiss,"February 11, 1990[56]",7G06,27.4[57]
6,7,7,"""The Call of the Simpsons""",Wes Archer,John Swartzwelder,"February 18, 1990[58]",7G09,27.6[59]
7,8,8,"""The Telltale Head""",Rich Moore,"Al Jean, Mike Reiss, Sam Simon & Matt Groening","February 25, 1990[60]",7G07,28.0[61]
8,9,9,"""Life on the Fast Lane""",David Silverman,John Swartzwelder,"March 18, 1990[62]",7G11,33.5[63]
9,10,10,"""Homer's Night Out""",Rich Moore,Jon Vitti,"March 25, 1990[64]",7G10,30.3[65]
10,11,11,"""The Crepes of Wrath""",Wes Archer & Milton Gray,"George Meyer, Sam Simon, John Swartzwelder & J...","April 15, 1990[66]",7G13,31.2[67]
11,12,12,"""Krusty Gets Busted""",Brad Bird,Jay Kogen & Wallace Wolodarsky,"April 29, 1990[68]",7G12,30.4[69]
12,13,13,"""Some Enchanted Evening""",David Silverman & Kent Butterworth,Matt Groening & Sam Simon,"May 13, 1990[70]",7G01,27.1[71]

In [7]:
# web scraping and automate that

CSV files using pandas , this website contains data of football match in different leagues, we go to the website and we manually download the data files which is not so efficient way of doing things so we will automate this process of extracting data

In [8]:
# reading 1 csv file from the website
df_premier21 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E0.csv")
# this will load the data from the website to the dataset

In [9]:
# show dataframe 
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [10]:
# rename columns
df_premier21.rename(columns={'FTHG':'home_goals',
                             'FTAG':'away_goals'},inplace = True)
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [11]:
#  one segment done

In [12]:
# Table extraction from the pdf

In [6]:
import pandas as pd
df = pd.read_csv("headline.csv",index=False)

TypeError: read_csv() got an unexpected keyword argument 'index'

In [5]:
df

,title,subtitle,link
0,LIVERPOOL 2 BRENTFORD 0,Latest as Salah adds to Diaz's opener with gui...,https://www.thesun.co.uk/sport/30051096/liverp...
1,BOURNEMOUTH 1 NEWCASTLE 1,Controversy as hosts' last-minute winner is RU...,https://www.thesun.co.uk/sport/30079806/bourne...
2,SCOTT TO GO,Napoli agree McTominay deal in move that could...,https://www.thesun.co.uk/sport/30079122/napoli...
3,SVEN'S PAIN,Eriksson's close friend gives heartbreaking up...,https://www.thesun.co.uk/sport/30079152/sven-g...
4,CAUGHT OFFSIDE,Prem League star 'dumped by wife' after she 'c...,https://www.thesun.co.uk/sport/30076260/premie...
...,...,...,...
68,LOU-DICROUS,BBC host Emma Louise Jones stuns in low cut dr...,https://www.thesun.co.uk/sport/30025566/bbc-pr...
69,HOT ROD,Georgina Rodriguez twerks and shows off shock ...,https://www.thesun.co.uk/sport/30001027/georgi...
70,CHARLIE WYETT,Average EFL wages show it's not just Premier L...,https://www.thesun.co.uk/sport/29968290/champi...
71,KARREN BRADY,Lopetegui is a breath of fresh air at West Ham...,https://www.thesun.co.uk/sport/29921178/julen-...
72,HARRY REDKNAPP,Maresca has inherited a MESS at Chelsea... it'...,https://www.thesun.co.uk/sport/29937584/enzo-m...